
:root{
  --pseudo-backgroundcolor:  #73AD21;
  }

#rcorners {
  border-radius: 25px;
  background: #73AD21;
  padding: -2px; 
  width: 200px;
  height: 5px;
  font-family: monospace;
  margin-top: -3px;
  text-wrap: nowrap;
  white-space: nowrap;
}

#rcorners:before, #rcorners:after{
  background: var(--pseudo-backgroundcolor);
  content: '';
  height: 15px;
  width: 15px;
  
  float: left;
  
  border-radius: 20px;
  border-color: var(--pseudo-backgroundcolor);
  margin-top: -5px;
  /*border: 2px solid black;*/
  white-space: nowrap;*/
}

#rcorners:after {
  float: right;
  display: inline-block;
}


body {background-color: rgb(0, 0, 0);color: white;}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

img {
  width: 50px,
  height: auto
}

/* The actual popup (appears on top) */
.popup .popuptext {
  text-wrap: pretty;

  visibility: hidden;
  width: 160px;
  background-color: rgb(179, 168, 168);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: monospace;

  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}